<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://github.com/dandelion/datatables">
<!--xmlns:ddl="http://www.thymeleaf.org/dandelion"-->

<head lang="en">

    <title>List of Prices</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <a class="btn btn-default" href="/price/new" role="button">Add price</a>
    <div th:if="${not #lists.isEmpty(prices)}">
        <h2>Prices List</h2>
        <table id="priceTable" class="table table-striped"
               dt:table="true" dt:pagination="true">
            <thead>
            <tr>
                <th dt:sortable="false">Id</th>
                <th>Price Name</th>
                <th>View</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="price : ${prices}">
                <td th:text="${price.id}"><a href="/price/${price.id}">Id</a></td>
                <td th:text="${price.name}">Price Name</td>
                <td><a th:href="${'/price/' + price.id}">View</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>