<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title th:text="#{product.add}"></title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

    <!-- Расчет цены, если выбрана в списке цена с типом "Расчетная" -->
    <script type="text/javascript">

        jQuery(document).ready(function () {
//            if ($('#is_calculated').is(':checked')) {
//                $('#calculated').css('display', 'block');
//            } else {
//                $('#calculated').css('display', 'none');
//            }

            $('#priceId').change(function () {
                var mult = $('option:selected', this).attr('myTag');
                var basePriceId = $('#basePriceId').val();
                var basePriceValue = $('#basePriceValue').val();
                if (basePriceId != null &amp;&amp; basePriceId != 0) {

                    $('#priceValue').value = basePriceValue * (mult / 100);
                }
//                if (mult != null || mult != 0) {
//                    $('#priceValue').val(mult);
//                }
//        if (this.checked)
//            $('#calculated').show();
//        else
//            $('#calculated').hide();
//
            });

        });
        //        function showCalculatedField() {
        //            if ($('#is_calculated').is(':checked'))
        //                $('#calculated').show();
        //            else
        //                $('#calculated').hide();
        //        }
    </script>

</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2 th:text="#{product.add}"></h2>

    <div>
        <form class="form-horizontal" th:action="@{/product}" method="post">
            <input type="hidden" th:field="${product.id}"/>
            <div class="form-group">
                <label class="col-md-2 control-label" th:text="#{column.name}+':'">Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" th:field="${product.name}"/>
                </div>
            </div>
            <!--Список цен у номенклатуры -->

            <div class="form-group" th:if="${not #lists.isEmpty(product.productPrices)}">
                <label class="col-md-2 control-label" th:text="#{productform.prices}+':'">Prices</label>
                <div class="col-md-6">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="productPrice : ${product.productPrices}">
                            <input type="hidden" id="basePriceId" th:value="${productPrice.price.base_price_id}"/>
                            <td th:text="${productPrice.price.name}">Price Name</td>
                            <td id="basePriceValue" th:text="${productPrice.value}">Price Value</td>
                            <td><a class="btn btn-default"
                                   th:href="${'/product/delete_product_price/' + product.id + '/' + productPrice.price.id}"
                                   role="button" th:text="#{column.delete}">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" th:text="#{productform.price}+':'">Price</label>
                <div class="col-md-10">

                    <div class="col-md-4">
                        <select name="priceId" id="priceId" class="form-control">
                            <option th:selected="selected" th:disabled="disabled" th:text="#{select.price}"
                                    value=""></option>
                            <option class="form-control input-sm" th:each="price : ${prices}"
                                    th:value="${price.id}" th:text="${price.name}" th:attr="myTag=${price.multipler}">
                                Price
                            </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input type="text" id="priceValue" class="form-control" name="value"/>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-default" name="action" value="add_price"
                                th:text="#{priceshow.add}">Add price
                        </button>
                    </div>


                </div>
            </div>


            <div class="row">
                <button type="submit" class="btn btn-default" th:text="#{button.submit}" name="action"
                        value="save"></button>
            </div>
        </form>
    </div>
</div>


</body>
</html>