<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://github.com/dandelion/datatables"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--xmlns:ddl="http://www.thymeleaf.org/dandelion"-->

<head lang="en">

    <title th:text="#{product.title}"></title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2 th:text="#{product.title}"></h2>
    <a class="btn btn-default" th:href="@{/product/new}" sec:authorize="hasRole('ROLE_ADMIN')" role="button" th:text="#{product.add}"></a>
    <div th:if="${not #lists.isEmpty(products)}">
        <table id="productTable" class="table table-striped"
               dt:table="true" dt:pagination="true">
            <thead>
            <tr>
                <th dt:sortable="false" th:text="#{column.id}"></th>
                <th th:text="#{column.name}"></th>
                <th th:text="#{column.view}"></th>
                <th th:text="#{column.edit}"></th>
                <th th:text="#{column.delete}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"><a href="/product/${product.id}">Id</a></td>
                <td th:text="${product.name}">Name</td>
                <td><a th:href="${'/product/' + product.id}" th:text="#{column.view}">View</a></td>
                <td><a th:href="${'/product/edit/' + product.id}" th:text="#{column.edit}">Edit</a></td>
                <td><a th:href="${'/product/delete/' + product.id}" th:text="#{column.delete}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>